<section class="auth">
  <div class="card auth-card">
    <h2 class="auth-title">Cadastro</h2>

    <form class="form" (ngSubmit)="register()" #registerForm="ngForm">
      <div class="input">
        <label for="name">Nome</label>
        <input id="name" type="text" placeholder="Seu nome"
               name="name" [(ngModel)]="name" required />
      </div>

      <div class="input">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="nome@exemplo.com"
               name="email" [(ngModel)]="email" required />
      </div>

      <div class="input">
        <label for="password">Senha</label>
        <input id="password" type="password" placeholder="********"
               name="password" [(ngModel)]="password" required minlength="6" />
      </div>

      <div class="auth-actions">
        <button class="btn btn--primary" type="submit" [disabled]="registerForm.invalid">
          Cadastrar
        </button>

        <button class="btn btn--secondary" type="button" (click)="goToLogin()">
          Voltar para o Login
        </button>
      </div>
    </form>
  </div>
</section>
